<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">TECH IT OUT</h1>
            <h2 data-aos="fade-up" data-aos-delay="400">
              Your Vision. Our Solutions
            </h2>
            <h3 data-aos="fade-up" data-aos-delay="500">
              Computers - Technology - Cloud <br />
              Repair - Consult - Build
            </h3>
            <div data-aos="fade-up" data-aos-delay="600">
              <div class="text-center text-lg-start">
                <a
                  href="/services"
                  class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                >
                  <span>Learn More </span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 hero-img"
            data-aos="zoom-out"
            data-aos-delay="200"
          >
            <img src="assets/img/hero-img.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section class="about">
        <div class="container" data-aos="fade-up">
          <div class="row gx-0">
            <div
              class="col-lg-6 d-flex flex-column justify-content-center"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="content">
                <h3>More Than Just IT Support</h3>
                <h2>WHAT WE DO</h2>
                <p>
                  We can help even the most tech savvy computer users! Whether
                  you are trying to hookup and connect a new TV, or replacing
                  the modem for your internet connection - Net Assembly can help
                  you get the job done as quickly as possible.
                  <br /><br />
                  Do you have a new device? A tablet, laptop or desktop
                  computer? We can get your new device setup on your existing
                  network - restore files from older machines, and ensure
                  malware protection is executed.
                </p>
              </div>
            </div>

            <div
              class="col-lg-6 d-flex align-items-center"
              data-aos="zoom-out"
              data-aos-delay="200"
            >
              <img src="/assets/img/about.png" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= OUR SERVICES Section ======= -->
      <section class="our-services">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h5>Affordable, Mobile, and Reliable</h5>
            <h2>OUR SERVICES</h2>
            <p>
              Affordable IT solutions that cater to every aspect of your
              technological demands. <br />
              We know that every client is different, so a member of our team
              will tailor our expertise to <br />
              your unique needs.Read more to learn about our services and
              solutions.
            </p>
          </header>

          <div class="row">
            <div class="col-lg-3">
              <div class="service-box">
                <div class="service-img">
                  <img
                    src="/assets/img/services-1.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <h5 class="mb-3">HOME MEDIA SOLUTIONS</h5>
                <p>
                  This comprehensive service is designed to fit your unique
                  needs without disrupting your current media situation. With
                  our end-to-end solutions, our tech gurus are sure to help your
                  get with the program.
                </p>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="service-box">
                <div class="service-img">
                  <img
                    src="/assets/img/services-2.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <h5 class="mb-3">NETWORK SERVICES</h5>
                <p>
                  Enabling you with top-notch technologies isn’t just important,
                  but imperative business today. No matter what IT services you
                  need, PC Tech Gurus will be there to support you every step of
                  the way.
                </p>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="service-box">
                <div class="service-img">
                  <img
                    src="/assets/img/services-3.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <h5 class="mb-3">CYBERSECURITY & PRIVACY</h5>
                <p>
                  Our IT solutions carve the path for individuals to modernize
                  infrastructure and optimize workflow like never before. With
                  this resource and our expertise, we’ll help maximize your home
                  internet security.
                </p>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="service-box">
                <div class="service-img">
                  <img
                    src="/assets/img/services-4.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <h5 class="mb-3">COMPUTER REPAIR</h5>
                <p>
                  Has your computer crashed? Is your PC making funny noises?
                  Don't worry, we fix broken computers!
                </p>
              </div>
            </div>
          </div>
          <div data-aos="fade-up" data-aos-delay="600">
            <div
              class="d-flex justify-content-center text-center text-lg-start mt-5"
            >
              <a href="/services" class="btn-get-started scrollto">
                <span>Our Services</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- End OUR SERVICES Section -->

      <!-- ======= About Section ======= -->
      <section class="about">
        <div class="container" data-aos="fade-up">
          <div class="row gx-0">
            <div
              class="col-lg-6 d-flex align-items-center"
              data-aos="zoom-out"
              data-aos-delay="200"
            >
              <img src="/assets/img/about-2.png" class="img-fluid" alt="" />
            </div>
            <div
              class="col-lg-6 d-flex flex-column justify-content-center"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="content">
                <h3>We build PCs for all purposes</h3>
                <h2>CUSTOM PCS</h2>
                <p>
                  Whether you want a custom NAS, HTPC or Gaming PC - We can
                  deliver the highest quality components from the best
                  manufacturers and retailers.
                  <br /><br />
                  For a nominal build fee, we will assemble, configure, test,
                  and deliver your new machine in a matter of days.
                </p>
                <div class="text-center text-lg-start">
                  <a
                    href="/get-aquote"
                    class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"
                  >
                    <span>Get In Quote</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact-us" class="contact">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h5>Affordable, Mobile, and Reliable</h5>
            <h2>Contact</h2>
          </header>

          <div class="row gy-4">
            <div class="col-lg-6">
              <div class="row gy-4">
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Address</h3>
                    <p>Boca Raton, FL 33487</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-telephone"></i>
                    <h3>Call Us</h3>
                    <p>+1-561-908-0720</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-envelope"></i>
                    <h3>Email Us</h3>
                    <p>dylan@netassembly.org</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-clock"></i>
                    <h3>Open Hours</h3>
                    <p>Monday - Friday<br />9:00AM - 05:00PM</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <form action="" method="post" class="php-email-form">
                <div class="row gy-4">
                  <div class="col-md-6">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Your Name"
                      required
                    />
                  </div>

                  <div class="col-md-6">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      placeholder="Your Email"
                      required
                    />
                  </div>

                  <div class="col-md-12">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      placeholder="Subject"
                      required
                    />
                  </div>

                  <div class="col-md-12">
                    <textarea
                      class="form-control"
                      name="message"
                      rows="6"
                      placeholder="Message"
                      required
                    ></textarea>
                  </div>

                  <div class="col-md-12 text-start">
                    <button type="submit">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->
    {{ partial "footer.html" . }}
    <!-- ======= Footer ======= -->

    <!-- End Footer -->
    {{ partial "scripts.html" . }}
  </body>
</html>
