<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">Services</h1>
            <h2 data-aos="fade-up" data-aos-delay="400">
              For Home and Business
            </h2>
            <h3 data-aos="fade-up" data-aos-delay="500">
              These are just some of the most common services we provide.
            </h3>
            <div data-aos="fade-up" data-aos-delay="600">
              <div class="text-center text-lg-start">
                <a
                  href="/get-aquote"
                  class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                >
                  <span>Get a Quote</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 hero-img"
            data-aos="zoom-out"
            data-aos-delay="200"
          >
            <img src="/assets/img/heo-img-2.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= OUR SERVICES Section ======= -->
      <section class="our-services">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-4">
              <div class="service-box">
                <div class="service-img">
                  <img
                    src="/assets/img/services-5.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <h5 class="mb-3">Error Diagnosis</h5>
                <p>
                  A comprehensive diagnosis of the errors or failures found
                  within the machine. This is free to our clients.
                </p>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="service-box">
                <div class="service-img">
                  <img
                    src="/assets/img/services-6.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <h5 class="mb-3">Software Issues</h5>
                <p>
                  This includes the removal of malware, spyware, viruses and any
                  unwanted software such as browser bars and pop ups. We can
                  clean up your PC to run fast, fresh, and like new.
                </p>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="service-box">
                <div class="service-img">
                  <img
                    src="/assets/img/services-7.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <h5 class="mb-3">Hardware Replacement</h5>
                <p>
                  Replacement of a hardware component of your PC, such as a hard
                  drive or ram module. Pricing starts at $75 plus the cost of
                  the component.
                </p>
              </div>
            </div>

            <div class="col-lg-4 mt-4">
              <div class="service-box">
                <div class="service-img">
                  <img
                    src="/assets/img/services-8.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <h5 class="mb-3">Drive Back Up and Restoration</h5>
                <p>
                  Safely backup media to secure storage. This includes
                  restoration or cloning to a new drive.
                </p>
              </div>
            </div>

            <div class="col-lg-4 mt-4">
              <div class="service-box">
                <div class="service-img">
                  <img
                    src="/assets/img/services-9.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <h5 class="mb-3">Custom Gaming Rig</h5>
                <p>Build your dream machine. Parts sold separately.</p>
              </div>
            </div>

            <div class="col-lg-4 mt-4">
              <div class="service-box">
                <div class="service-img">
                  <img
                    src="/assets/img/services-2.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <h5 class="mb-3">Networking</h5>
                <p>
                  Installation of an internet modem or router, addition of MESH
                  units, and other networking issues. Pricing starts at $50.
                </p>
              </div>
            </div>

            <div class="col-lg-4 mt-4">
              <div class="service-box">
                <div class="service-img">
                  <img
                    src="/assets/img/services-1.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <h5 class="mb-3">Home Media</h5>
                <p>
                  Set up a new TV or installing a media unit such as Google TV,
                  Roku or Amazon Fire.
                </p>
              </div>
            </div>

            <div class="col-lg-4 mt-4">
              <div class="service-box">
                <div class="service-img">
                  <img
                    src="/assets/img/services-10.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <h5 class="mb-3">New PC Setup</h5>
                <p>Setup a new PC just how you like it.</p>
              </div>
            </div>

            <div class="col-lg-4 mt-4">
              <div class="service-box">
                <div class="service-img">
                  <img
                    src="/assets/img/services-11.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <h5 class="mb-3">Virus Removal</h5>
                <p>Virus removal and system optimization</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End OUR SERVICES Section -->

      <!-- ======= About Section ======= -->
      <section class="about">
        <div class="container" data-aos="fade-up">
          <div class="row gx-0">
            <div
              class="col-lg-6 d-flex align-items-center"
              data-aos="zoom-out"
              data-aos-delay="200"
            >
              <img src="/assets/img/about-3.png" class="img-fluid" alt="" />
            </div>
            <div
              class="col-lg-6 d-flex flex-column justify-content-center"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="content">
                <h2>Contact us for a quote!</h2>

                <div class="text-center text-lg-start mt-5">
                  <a
                    href="/#contact-us"
                    class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"
                  >
                    <span>Contact Us</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->
    </main>
    <!-- End #main -->
    {{ partial "footer.html" . }}
    <!-- ======= Footer ======= -->

    <!-- End Footer -->
    {{ partial "scripts.html" . }}
  </body>
</html>
