<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>{{.Title}}</title>
  <meta content="{{.Description}}" name="description" />

  <meta content="{{ .Keywords}}" name="keywords" />

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon" />
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
    rel="stylesheet"
  />

  <!-- Plugins CSS Files -->
  <link href="/assets/plugins/aos/aos.css" rel="stylesheet" />
  <link
    href="/assets/plugins/bootstrap/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link
    href="/assets/plugins/bootstrap-icons/bootstrap-icons.css"
    rel="stylesheet"
  />
  <link
    href="/assets/plugins/glightbox/css/glightbox.min.css"
    rel="stylesheet"
  />
  <link href="/assets/plugins/remixicon/remixicon.css" rel="stylesheet" />
  <link href="/assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet" />
</head>
