<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<!-- plugins JS Files -->
<script src="/assets/plugins/purecounter/purecounter.js"></script>
<script src="/assets/plugins/aos/aos.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/plugins/glightbox/js/glightbox.min.js"></script>
<script src="/assets/plugins/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/plugins/swiper/swiper-bundle.min.js"></script>
<script src="/assets/plugins/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
